.box {
    border: 2px solid red;
    height: 5rem;
    width: 20rem;
    margin-bottom: 30rem;
}

.first {
    overflow: visible;
    /* icerik kirpilmaz ve dolgu kutusunun disinda olusturulabilir. */
}

.second {
    overflow: hidden;
}

/*.second:hover {
    overflow: visible;
}*/

.third{
    overflow: auto;
}

.fourth {
    overflow: scroll;
}