.box {
    border: 2px solid red;
    height: 5rem;
    width: 20rem;
    margin-bottom: 20rem;
}

.first {
    overflow: visible;
    /* icerik kirpilmaz ve dolgu kutusunun disinda olusturulabilir. */
}

.second {
    overflow: hidden;
}

/* .second:hover{overflow:visible} */


.third {
    overflow: auto;
    /* yazi sigmiyorsa kirpiliyor ve hepsine bakabilmek icin yan tarafta bir kaydirma cubugu olusturuyor. */
}

.fourth{
    overflow:scroll;
}

.fifth{
    overflow-x: hidden;
    /* x ekseninde (yatay) yazilanlar kutunun disina tasiyorsa görünmesinler.*/
    
    overflow-y: scroll;
}