*{
    text-align: center;
}

header.banner .bg {
    height: 20rem;
    background-image: url(https://picsum.photos/200);
    background-repeat: no-repeat;
    background-size: cover;
    /* Resmin ekrani kaplama komutu*/

    background-position: center center;
    /* Resmi sayfanin tam  ortasina ortaliyor. */
}

.butonlar span {
    background-color: gray;
    width: 4rem;
    height: 1rem;
    display: inline-block;
    margin: 1rem;
}

h1{
    font-size: 3rem;
}

p{
    font-size: 1.5rem;
}

.butonlar span:hover{
    background-color: lightgrey;
}